<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Clean Blog - About</title>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>
<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar"></div>
<!-- Page Header -->
<div th:replace="fragments/about/header :: aboutHeader"></div>
<!-- Main Content -->
<div th:replace="fragments/about/content :: aboutContent"></div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
